<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
    <meta name="description" content="etestzone: Online Free Mock tests for JEE,NEET,NDA and complete NCERT solutions,Notes and previous year papers for class 9th to 12th in pdf format">
    <meta name="keyword" content="jee main,jee advance,neet,nda,cbse,ncert solution,pdf,notes,mock test,testseries,">
    <title>Etestzone: JEE MAIN|NEET|NDA Mock tests,TestSeries|CBSE NCERT solutions</title>
    <link rel="icon" href="/favicon/favicon1.ico">
    <!-- Loading third party fonts -->

    <link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Loading main css file -->
    <link rel="stylesheet" href="/css/bstyle.css">

    <!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JYRQ0Y8XWG"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-JYRQ0Y8XWG');
    </script>


</head>

<!-- green mystery is present is class site header -->

<body>



    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "WebSite",
            "name": "etestzone",
            "url": "https://etestzone.in",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "https://etestzone.in/cbse{search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }
    </script>








    <div id="site-content">
        <header class="site-header">
            <div class="primary-header">
                <div class="container">
                    <a href="/index" id="branding">
                        <img src="images/logo.png" alt="etestzone">
                        <h2 class="">Etestzone</h2>
                    </a>
                    <!-- #branding -->

                    <div class="main-navigation">
                        <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
                        <ul class="menu">
                            <li class="menu-item current-menu-item"><a href="/index">Home</a></li>
                            <li class="menu-item"><a onclick="show_test_series();" href="#">Test Series</a>
                                <div class="dropdown" id="show_test_series">
                                    <ul class="menu ">
                                        <li style="margin: 10px;width: 100%;"><a href="/domain/jee">JEE</a></li>
                                        <li style="margin: 10px;width: 100%;"><a href="/domain/nda">NDA</a></li>
                                        <li style="margin: 10px;width: 100%;"><a href="/domain/neet">NEET</a></li>
                                        <li style="margin: 10px;width: 100%;"><a href="/std_page">more</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-item"><a href="/cbse">CBSE</a></li>
                            <li class="menu-item"><a href="/contact">Contact</a></li>
                            <li class="menu-item"><a onclick="user();" href="#">login/sign up</a>
                                <div id="auth" class="dropdown">
                                    <ul class="menu ">
                                        <li style="margin: 10px;width: 100%;"><a href="/login">Login</a></li>
                                        <li style="margin: 10px;width: 100%;"><a href="/signup">SignUp</a></li>
                                    </ul>
                                </div>
                            </li>

                        </ul>
                        <!-- .menu -->
                    </div>
                    <!-- .main-navigation -->

                    <div class="mobile-navigation"></div>
                </div>
                <!-- .container -->
            </div>
            <!-- .primary-header -->
            <script>
            </script>

            <div class="home-slider">
                <div class="container">
                    <div class="slider">
                        <ul class="slides">
                            <li>
                                <div class="slide-caption">
                                    <h2 class="slide-title">ETESTZONE <br> Stay Determined!!</h2>
                                    <p>Knowledge is of no value unless you put it into practice...</p>
                                    <a href="/std_page" class="button primary large">So Let's practice</a>
                                </div>
                                <img style="width: 30%;" src="images/kid.png" alt="cbse ncert solutions">
                            </li>

                        </ul>
                        <!-- .slides -->
                    </div>
                    <!-- .slider -->
                </div>
                <!-- .container -->
            </div>
            <!-- .home-slider -->
        </header>
    </div>

    <main class="main-content">
        <div style="margin-bottom: 5%;" class="fullwidth-block">
            <div style="text-align: center;" class="container">
                <h2>How we are different</h2>
                <h1>ETESTZONE provides Best Quality JEE MAIN | NEET | NDA mock test and TestSeries,CBSE NCERT solutions and Notes completely Free!!!</h1>
                <div style="padding-left: 11%;padding-right: 11%;padding-top: 5%;">
                    <div style="width: 62%;height: 100%;float: left;margin-top: 5%;" class="button primary large">
                        <p> Complete NCERT solutions, CBSE previous year question papers and Notes free for students of class 9th to 12th in PDF format</p>
                    </div>
                    <div style="width: 65%;height: 30%;float: right;margin-top: 5%;" class="button primary large">
                        <p> Best quality Notes for class 11 and 12, JEE main, JEE advance, NEET, NDA and many other exams </p>
                    </div>
                    <div style="width: 65%;height: 30%;float: left;margin-top: 5%;" class="button primary large">
                        <p> Hundreds of free mock tests and test series for practice various exam like JEE MAIN AND ADVANCE, NEET, NDA and CDS completely free</p>
                    </div>
                    <div style="width: 65%;height: 30%;float: right;margin-top: 5%;" class="button primary large">
                        <p> Create your own Test for your school,college or tution centre students and analyse the result very easily,we will keep your result details secure </p>
                    </div>
                    <div style="width: 65%;height: 30%;float: left;margin-top: 5%;" class="button primary large">
                        <p> Sign up to our blog for getting regular updates of various exam notifications, syllabus and trends </p>
                    </div>
                </div>

                <a href="http://dir.topmillion.net/settings/websites">delete krna h</a>

            </div>
        </div>

        <!-- contact us block -->
        <div style="background-color: #505f46;">
            <div class="wood">.</div>
            <div style="padding-top: 0px;margin-top: 0px;" class="site-header">
                <div style="text-align: center;" class="page-title">
                    <div class="container">
                        <h2>Contact Us</h2>
                    </div>
                </div>
                <main class="main-content">
                    <div class="fullwidth-block inner-content">
                        <div class="container">


                            <div class="row">
                                <div class="col-md-7">
                                    <form action="#" class="contact-form">
                                        <p>
                                            <label class="details" for="name">Name</label>
                                            <span class="control"><input type="text" class="button primary large" id="name" placeholder="Yout name"></span>
                                        </p>
                                        <p>
                                            <label class="details" for="email">Email</label>
                                            <span class="control"><input type="text" class="button primary large" id="email" placeholder="Email"></span>
                                        </p>
                                        <p>
                                            <label class="details" for="Subject">Subject</label>
                                            <span class="control"><input type="text" class="button primary large" id="website" placeholder="Subject"></span>
                                        </p>
                                        <p>
                                            <label class="details" for="message">Name</label>
                                            <span class="control"><textarea id="message" class="button primary large" placeholder="Message"></textarea></span>
                                        </p>
                                        <p class="text-right">
                                            <input class="button primary large" type="submit" value="Send message">
                                        </p>
                                    </form>
                                </div>
                                <div class="col-md-5">
                                    <img style="width: 50%;" src="images/contact_us.png" alt="jee main jee advance nda neet mock test and test series">
                                    <!-- <div class="contact-info details">
                                        <address>
											<strong>Address</strong>
											<p>ETESTZONE <br>Since 2020 <br>TestSeries</p>
										</address>
                                        <div class="contact">
                                            <strong>Contact</strong>
                                            <p>
                                                <a href="tel:532930098891">(532) 930 098 891</a>
                                                <a href="mailto:office@companyname.com">office@companyname.com</a> <br>

                                            </p>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .fullwidth-block -->
                </main>
            </div>
        </div>


        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="widget">
                            <h3 class="widget-title">Contact us</h3>
                            <address>ETESTZONE <br>Online Mock Tests And TestSeries <br>For JEE,NEET,NDA</address>

                            <a href="gmail:etestzone1974@gmail.com">etestzone1974@gmail.com</a> <br>
                            <a href="tel:9055304085">(0191) 9055304085</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget">
                            <h3 class="widget-title">Social media</h3>
                            <p>Follow Us on Social media for new updates</p>
                            <div class="social-links circle">
                                <a href="https://www.facebook.com/sagar.seth.9484"><i class="fa fa-facebook"></i></a>
                                <a href="mail:sagarseth442@gmail.com"><i class="fa fa-mail-forward"></i></a>
                                <a href="https://twitter.com/Sagarse37676640"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.instagram.com/sagarseth_1974/"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget">
                            <h3 class="widget-title">Resources</h3>
                            <li>
                                <a href="#">
                                        JEE TESTSERIES
                                    </a>
                            </li>
                            <li>
                                <a href="#">
                                        NEET TESTSERIES
                                    </a>
                            </li>
                            <li>
                                <a href="#">
                                        NDA TESTSERIES
                                    </a>
                            </li>
                            <li>
                                <a href="#">
                                        NCERT SOLUTIONS
                                    </a>
                            </li>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget">
                            <h3 class="widget-title">Newsletter</h3>
                            <p>SignUp for our new letter for latest updates</p>
                            <form action="#" class="subscribe">
                                <input type="email" placeholder="Email Address...">
                                <input type="submit" class="light" value="Subscribe">
                            </form>
                        </div>
                    </div>
                </div>


                <div class="copy">Copyright <span id="year"></span> ETESTZONE. All rights reserved.</div>
                <script>
                    var year = new Date();
                    year = year.getFullYear();
                    document.getElementById('year').innerHTML = year;
                </script>
            </div>

        </footer>

        <script src="js/jquery-1.11.1.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/app.js"></script>


</body>

</html>